body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

#master {
    font: large italic #333333;
    border: 5px solid #D32F2F;
    background-color:  #FFEBEB;
    border-radius: 8px;
    width: 600px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#manuale {
    font: large italic #333333;
    border: 5px solid #D32F2F;
    background-color:  #FFEBEB;
    border-radius: 8px;
    width: 600px;
    padding: 20px;
    margin-top: 20px;
}

#sinista {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#orizzontale {
    display: flex;
    gap: 10px;
}

#verticale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box, .tipologiaUP, #tipologiaDOWN {
    display: none;
}

#bottoni {
    width: 80px;
    height: 25px;
    border: solid 2px #D32F2F;
    border-radius: 6px;
    background-color: #FFEBEB;
}

.input {
    width: 30px;
}

#tipologia {
    width: 51px;
}

#file2 {
    visibility: visible;
}

#output {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 300px;
    padding-left: 0px;
    font: large italic #333333;
    border: 5px solid #D32F2F;
    background-color: #FFEBEB;
    border-radius: 8px;
    padding: 20px;
}

.colonnaUP, #clonnaDOWN {
    display: block;
}