<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Output</title>
</head>

<body>
    <div id="output">
        {% if data is string %}
            <h3>{{ data }}</h3>
        {% else %}
            <ul>
                {% for item in data %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/moovment.js') }}"></script>
</body>

</html>